.img-rounded {
    border-radius:6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cursive {
    font-family: cursive;
}

.column {
    width:50%
}

h1, p {
      font-family: Georgia;
}

  .text-center {
      text-align:center
}
.header {
    padding-top:30px;
    padding-bottom:30px;
    margin-bottom:30px;
    color:inherit;
    background-color:rgb(185, 227, 255)
}