.img-rounded {
    border-radius:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
    padding-bottom: 20px,
}

.cursive {
    font-family: cursive;
}

.listed-resources {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.text-break {
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-center {
    padding-top:30px;
    padding-bottom:30px;
    margin-bottom:30px;
    opacity: 0.5;
    text-align: center;
    color:inherit;
    background-color:rgb(70, 67, 116)
}